@using System.Web.Mvc
@using System.Web.Mvc.Html
@functions{

    // >> App_Code | LayoutView
    private new static HtmlHelper< object > Html
    {
        get { return ( ( WebViewPage ) WebPageContext.Current.Page ).Html; }
    }

}

@helper Header()
{
    <div>
        @MenuActionLink( "Home", "Home" )
        | @MenuActionLink( "Demo Shop", "Demoshop" )
    </div>
    <hr/>
}

@helper Footer()
{
    <hr/>
    <div >
        @MenuLink( "Blog", "http://romankoshelev.info/tag/spreadbot/" )
        | @MenuLink( "Loc", "http://localhost/spreadbot/" )
        | @MenuLink( "Web", "http://www.spreadbot.net" )
        | @MenuLink("SCM", "https://spreadbot-west-us.scm.azurewebsites.net/DebugConsole/")
        | @MenuLink( "Azure", "https://manage.windowsazure.com/@romakoshgmail.onmicrosoft.com#Workspaces/WebsiteExtension/Website/spreadbot-west-us/dashboard" )
        | @MenuLink( "Jira", "https://rk-dev.atlassian.net/secure/RapidBoard.jspa?rapidView=2" )
        | @MenuLink( "Github", "https://github.com/RomanKoshelev/spreadbot" )
    </div>
}

@helper MenuActionLink( string text, string controller, string action = "Index" )
{
    @Html.ActionLink(
        text,
        action,
        controller,
        null,
        new { @class = "" } )
}

@helper MenuLink( string text, string href )
{
    <a href="@href">@text</a>
}