@using Crocodev.Common.Extensions
@using Spreadbot.Core.Channels.Ebay.Configuration.Sections
@model  Spreadbot.App.Web.Models.DemoshopModel 
@{
    // Here: View | Demoshop
    ViewBag.Title = "Demoshop";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div>
    <p>Edit your Item, then publish it on eBay, check the publishing process and view the result</p>

    @(( HelperResult ) Shared.ShowMessage( Model.Message ))

    <div>
        <h2>
            One-item Store
        </h2>
        @(( HelperResult ) DemoshopView.ItemEditForm( Model.Item ))
        @Html.ActionLink( "Revert Item", "RevertItem" )
    </div>

    <div>
        <h2>
            Store/channel Tasks
        </h2>
        @TaskView.ShowTasks( Model.StoreTasks )
        <ul>
            <li>
                @Html.ActionLink( "Add task:", "AddTask" ) @("Publish [{0}] on eBay".SafeFormat( Model.Item ))
            </li>
            <li>
                Remove all tasks [@Html.ActionLink( "remove", "DeleteTasks" )]
            </li>
        </ul>

    </div>

    <div>
        <h2>
            Spreadbot Dispatcher
        </h2>
        <ul>
            <li>
                @Html.ActionLink( "Run Channel Tasks ({0})".SafeFormat( Model.ChannelTasksTodo.Count() ), "RunChannelTasks" )
            </li>
            <li>
                @Html.ActionLink( "Proceed Channel Tasks ({0})".SafeFormat( Model.ChannelTasksInprocess.Count() ), "ProceedChannelTasks" )
            </li>
            <li>
                [@MipSecurityConfig.Instance.MipSecretData.UserName@("@" + MipPublicConfig.Instance.MipConnection.HostName)]
            </li>
        </ul>
    </div>
</div>