@using System.Linq.Expressions
@using Crocodev.Common
@using Spreadbot.App.Web
@using Spreadbot.Core.Channel.Ebay.Mip.Configuration
@model Spreadbot.App.Web.DemoshopModel

@{
    // ===================================================================================== []
    // >> View | Demoshop | Index
    ViewBag.Title = "Demo Shop";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

@helper ItemEditForm()
{
    using (Html.BeginForm("UpdateItem", "Demoshop", FormMethod.Post))
    {
        <fieldset class="sb-table">
            @FormEditor(m => m.Item.Sku)
            @FormEditor(m => m.Item.Title, "sb-width-500px")
            @FormEditor(m => m.Item.Price)
            @FormEditor(m => m.Item.Quantity)
        </fieldset>
        <input type="submit" value="Update"/>
    }
}

@helper FormEditor(Expression<Func<DemoshopModel, string>> expression, string @class = "sb-width-200px")
{
    var label = Html.LabelFor(expression);
    var textBox = Html.TextBoxFor(expression, new {@class});

    @FormView.Editor(label, textBox)
}


@helper FormEditor(Expression<Func<DemoshopModel, decimal>> expression, string @class = "sb-width-100px")
{
    var label = Html.LabelFor(expression);
    var textBox = Html.TextBoxFor(expression, new {@class});

    @FormView.Editor(label, textBox)
}

@*
    // ===================================================================================== []
*@

<div>

    <p>Edit your Item, then publish it on eBay, check the publishing process and view the result.</p>

    <div>
        <h2>
            One-item Store
        </h2>
        @ItemEditForm()
    </div>

    <div>
        <h2>
            eBay Publisher
        </h2>

        <ul>
            <li>
                @Html.ActionLink("Publish [{0}] on eBay".SafeFormat(Model.Item), "Publish")
            </li>
            <li>
                Check publishing process for request [xxx]
            </li>
            <li>
                View publishing result for request [yyy]
            </li>
        </ul>
    </div>

    [@MipSecurity.Instance.SecretData.UserName@("@" + MipPublic.Instance.Connection.HostName)]
</div>